

/dts-v1/;

#include "imx8mp.dtsi"
#include "imx8mp-edc-brd01-pinmux.dtsi"        

/ {
    model = "AxisB EDC i.MX8MP Board";
    compatible = "axisb,imx8mp-edc-brd01", "fsl,imx8mp";

    chosen {
        stdout-path = &uart2;
    };
    
    /* Use the BOARD_InitPins group already defined in the .dtsi */
    &iomuxc {
        pinctrl-names = "default";
        pinctrl-0 = <&BOARD_InitPins>;
    };

    &eqos {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_eqos>;
        phy-mode = "rgmii-id";
        phy-handle = <&ethphy0>;
        status = "okay";

        mdio {
            compatible = "snps,dwmac-mdio";
            #address-cells = <1>;
            #size-cells = <0>;

            ethphy0: ethernet-phy@1 {
                compatible = "ethernet-phy-ieee802.3-c22";
                reg = <0>;
                // Ask praveen
                eee-broken-1000t;
                realtek,clkout-disable;
            };
        };
};